@model ImoAnalyticsSystem.Models.Cartorio

@{
    ViewBag.Title = "Excluir cartório " + Model.NomeCartorio;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">Tem certeza que quer excluir esse cartório?</h3>
            </div>
        </div>
    </div>
    <div class="primary-color-row row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <p><b>@Html.DisplayNameFor(model => model.NomeCartorio)</b></p>
            </div>
            <div class="col-sm-6">
                <p>@Html.DisplayFor(model => model.NomeCartorio)</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="principal-button" /> <br /><br />
        <a href="@Url.Action("Details", "Cartorio", new { id = Model.ID })" title="Voltar para os detalhes" class="voltar-icon"><i class="fa fa-arrow-left"></i></a>
    </div>
}
