@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Highcharts";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Preço médio de locação de cada tipo de imóvel</h3>
    </div>
    <div class="panel-body">
        @(Model)
        <br />
        <b>Obs: Os tipos de imóvel que não aparecem na lista não possuem imóveis disponíveis para locação.</b>
    </div>
</div>