@model ImoAnalyticsSystem.ViewModels.RelatorioViewModel
@{
    ViewBag.Title = "Relatório de estatísticas do bairro " + ViewBag.Bairro;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        @(Model.Chart)
    </div>
</div>