@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Highcharts";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Relatório de vendas dos últimos 4 meses</h3>
    </div>
    <div class="panel-body">
        @(Model)
    </div>
</div>